/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    background-color: #f4f4f4;
}

/* Cabeçalho */
header {
    background: #333;
    color: #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: none   ;
}

header h1 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

header p {
    text-align: center;
    margin: 0;
}

/* Seções */
section {
    padding: 0 0 25px 0;
}

/* Títulos das Seções */
section h2 {
    color: #333;
}

/* Artigos / Entradas de Experiência e Educação */
article {
    margin-bottom: 15px;
}

/* Detalhes da Experiência e Educação */
h3 {
    margin-top: 0;
    color: #444;
}

/* Listas */
ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Links */
a {
    color: #333;
}

a:hover {
    color: #777;
}

.linkRede:link{
    color: black ! important;
}
/* Estilo Responsivo */
@media (max-width: 768px) {
    section {
        margin: 0 5%;
    }
}
.gray{
  color: #b6b6b6;
}
.item-simples{
  margin: 0;
}
.lista-simples{
  list-style-type: none;
  margin-bottom: 0;
}
a:link {
    text-decoration: none;
    color: white;
}
.lateralTitulo{
  margin-left: 20px;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


 /* Estilos CSS para centralizar o pré-carregador */
 #preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }

  #preloader img {
    width: 100px;
    height: 100px;
    animation: rotate 2s linear infinite;
  }
  body{
    padding: 0;
    width: 100%;
  }
  .site{
    display: none;
    padding: 0;
    margin: 0;
  }
  #foto {
    width: 70%;
    border-radius: 50%;
    margin-top: 15px;
  }
  #nome{
    margin: 15px 30px 15px 30px; 
  }
  .ficha{
    margin: 0 !important;
    padding: 20px !important;
  }
  .iconeRede {
    width: 30px;
    padding-right: 10px;
  }
  .periodo{
    margin-left: auto !important;
    margin-right: 20px;
  }
  .fill-white{
    filter: brightness(0) invert(1);
  }
  .elemento{
    padding: 10px 0 ! important;
  }
  .perfil{
    background-color: #094074;
    align-items: center;
    flex-direction: column;
  }
  a:link:hover{
    color: white;
  }
  a{
    color: white !important;
  }
  .lateral{
    background-color: #3C6997;
    padding: 0 !important;
    color: white;
  }
  .container{
    padding: 0 !important;

  }
  li::marker{
    color: #3C6997;
  }
  .principal{
    margin-top: 40px;
  }
  .principal h4{
    color: #094074;
  }
  .principal h5{
    color: #3C6997;
  }
  .contato{
    list-style-type: none;
    margin: 15px 0 25px 0;
  }
  .blue-icon{
    margin-right: 5px;
    margin-top: 6px;
    color: #094074 ! important;
    fill: #094074 ! important;
  }
  i{
    margin-right: 10px;
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

